body,
html {
  width: 100%;
  margin: 0;
  background-color: #222;
  color: #fff;
  height: 100%;
  font-family:monospace
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height:100vh;
}

.searchBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 30%;
}

.WeatherCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
  width: 100%;
  padding-top: 10px;

}

.eachCardContainer {
  width:15%;
}